<div class="row orange lighten-5">
    <!-- 작성칸 시작 -->
    <div id="write_diary" class="container" style="padding:5%;">
        <form action="./create" method="post" enctype="multipart/form-data">
            <div class="input-field">
                <label for="textarea1">작성칸</label>
                <textarea id="textarea1" class="materialize-textarea" name="text"></textarea>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>이미지 업로드</span>
                        <input type="file" name="img_url">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <input name="user_pid" type="text" value="<%=user_pid%>" hidden>
                <button class="btn-large waves-effect waves-light" type="submit">기록
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
    <!-- 작성칸 끝 -->
</div>

<!-- 날짜 표지 시작 -->
<div class="row middle">
    <div class="col s12">
        <h4 id="today_diary" class="gugi center-align" style="color: rgb(50,50,50);">오늘의 일기</h4>
    </div>
</div>
<!-- 날짜 표지 끝 -->
<!-- 일기 본체 시작 -->
<div class="row cm">
    <!-- 자신의 일기 시작 -->
    <div id="parallel_wrap" class="col s12 m5 offset-m1 man">
        <div class="container">
            <h5 class="jeju center-align" style="color: rgb(240,240,240);"><%=nickname%></h5>
            <%
                for(var item in row.reverse()) {
                    if(row[item].user_pid == user_pid) {
                        if(!row[item].is_deleted) {
            %>
            <div class="card hoverable ">
                    <% if(row[item].img_url != '') { %>
                <div class="card-image">
                    <img src="<%=row[item].img_url%>" />
                </div>
                    <% } %>
                <!-- READ CONTENT 시작 : R + pid -->
                <div id="R<%=row[item].diary_pid%>">
                    <div class="card-content jeju">
                        <span class="card-title date-post" style="display: none;"><%=row[item].date%></span>
                        <p style="white-space: pre-wrap;"><%=row[item].text%></p>
                    </div>
                    <div class="card-action">
                        <form action="./destroy" method="post" style="display:inline;">
                            <input type="hidden" name="destroy_id" value="<%=row[item].diary_pid%>"/>
                            <button class="btn waves-effect waves-light man" type="submit"><span style="color:black">삭제</span></button>
                        </form>
                        <button onclick="toggleUpdateForm(<%=row[item].diary_pid%>);" class="btn waves-effect waves-light woman" type="submit"><span style="color:black">수정</span></button>
                    </div>
                </div>
                <!-- READ CONTENT 끝 -->
                <!-- UPDATE폼 시작 : U + pid -->
                <div id="<%='U' + row[item].diary_pid%>" style="display:none;">
                    <div class="card-content jeju" style="display:block">
                        <form action="./update" method="POST" enctype="multipart/form-data">
                            <div class="input-field">
                                <label for="textarea1">작성칸</label>
                                <textarea id="textarea1" class="materialize-textarea" name="text"><%=row[item].text%></textarea>
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>이미지 업로드</span>
                                        <input type="file" name="img_url">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="update_id" value="<%=row[item].diary_pid%>"/>
                    </div>  
                    <div class="card-action">
                        <button id="update_btn" class="btn waves-effect waves-light man" type="submit"><span style="color:black">수정</span><i class="material-icons right">send</i></button>
                        </form> 
                        <button onclick="toggleUpdateForm(<%=row[item].diary_pid%>);" class="btn waves-effect waves-light woman"><span style="color:black">취소</span>
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
                <!-- UPDATE폼 끝 -->
            </div> <!--/.card-->
            <%
                        }
                    }
                }
            %> 
        </div>
    </div> <!--/.col .s6-->
    <!-- 자신의 일기 끝 -->
    <!-- 다른 사람의 일기 시작 -->
    <div id="parallel_wrap" class="col s12 m5 woman">
            <h5 class="jeju center-align" style="color: rgb(240,240,240);"><%=couple%></h5>
            <div class="container">
                <%
                    for(var item in row) {
                        //MATCH 에 해당하는 사람의 글이 뜸
                        if(row[item].user_pid != user_pid) {
                            if(!row[item].is_deleted) {
                %>
                <div class="card hoverable ">
                        <% if(row[item].img_url != '') { %>
                    <div class="card-image">
                        <img src="<%=row[item].img_url%>" />
                    </div>
                        <% } %>
                    <!-- READ CONTENT 시작 : R + pid -->
                    <div id="R<%=row[item].diary_pid%>">
                        <div class="card-content jeju">
                            <span class="card-title date-post hidden_elem" style="display: none;"><%=row[item].date%></span>
                            <p style="white-space: pre-wrap;"><%=row[item].text%></p>
                        </div>
                    </div>
                    <!-- READ CONTENT 끝 -->
                </div> <!--/.card-->
                <%
                            }
                        }
                    }
                %> 
            </div>
        </div> <!--/.col .s6-->
    </div>
    <!-- 다른 사람의 일기 끝 -->
</div>
<!-- 날짜 선택칸 시작-->

<div class="row cm" >
    <div class="col s10 offset-s1">
            <div class="input-field" >
                <label for="date_pick">날짜 선택</label>
                <input id="date_pick" type="text" class="datepicker" value="<%=today%>" />
            </div>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">arrow_drop_up</i>
    </a>
    <ul>
        <!-- 날짜 선택 -->
        <li><a class="btn-floating red" id="date_pick_open" ><i class="material-icons">today</i></a></li>
        <!-- 새로고침 -->
        <li><a class="btn-floating red" onClick="window.location.reload();"><i class="material-icons">autorenew</i></a></li>
        <!-- 맨 위로 -->
        <li><a class="btn-floating red" onClick="document.querySelector('#write_diary').scrollIntoView({ behavior: 'smooth' });"><i class="material-icons">arrow_upward</i></a></li>
    </ul>
</div>
<!-- 날짜 선택칸 끝-->
<!--    FIREBASE SCRIPT     -->
<script>
    // Initialize Firebase
    var config = {
       
    };
    firebase.initializeApp(config);
    // FCM 메시지 설정 코드
    var messaging = firebase.messaging();
    messaging.requestPermission()
        .then(function(){
            console.log('메세징 권한 획득');
            return messaging.getToken();
        })
        .then(function(token){
            console.log('fcm token: ', token);
            $.ajax({
                type: "POST",
                url: "/main/updateToken",
                data: token,
                dataType: "TEXT",
                success: function(text){
                    console.log('전송성공');
                },
                error: function(xhr, status, error){
                    console.log(error);
                }
            });
        })
        .catch(function(e){
            console.log('메세징 권한 획득 중 에러', e);
        });
        
    $(document).ready(function () {
        // 데이트 피커 설정
        // $('.datepicker').datepicker();
        //오늘 보여주는 포스팅 보이기
        var date_post = $('.date-post').toArray();
        $('#date_pick').val('<%=today%>');
        var date_pick = $('#date_pick').val();
        if (date_post != 'undefined') {
            $('.card').css('display', 'none');
            for (let i = 0; i < date_post.length; i++) {
                if (date_post[i].innerText == date_pick) {
                    date_post[i].parentNode.parentNode.parentNode.style.display = "block";
                }
            }
        }
        //값이 바뀔때 마다 변경
        $("#date_pick").bind("change paste keyup", function() {
            $('.card').css('display', 'none');
            date_pick = $(this).val();
            if(date_pick == '<%=today%>'){
                $('#today_diary').text('오늘의 일기');
            }
            else {
                $('#today_diary').text(date_pick+'에 작성된 일기');
            }
            let count_p = 0; //카운팅용 변수
            for (i = 0; i < date_post.length; i++) {
                if (date_post[i].innerText == date_pick) {
                    date_post[i].parentNode.parentNode.parentNode.style.display = "block";
                    count_p++;
                }
            }
            if(count_p == 0) { //일기가 없는 경우
                alert('해당 날짜에 작성한 일기가 없습니다!');
                window.location.reload();
            }
            count_p = 0;
        });
        //달력 표시
        $('#date_pick_open').click(function(e){
            $('#date_pick').click();
        });
    });
</script>