<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>평행일기</title>
    <!--    JQuery GOOGLE CDN    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--    MATRIALIZE JS    -->
    <script type="text/javascript" src="/js/materialize.js"></script>
    <!--    MATRIALIZE CSS    -->
    <link type="text/css" rel="stylesheet" href="/css/materialize.css" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--    BASE CSS FOR GENERAL    -->
    <link href="/css/base.css" rel="stylesheet">
    <!--    Firebase API    -->
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-firestore.js"></script>
    <!--    Prograssive Web App     -->
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#263238">
    <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#263238">
    <script src="/pwabuilder-sw-register.js"></script>
</head>

<body>
    <!--    
            메인 페이지 레이아웃 작성
            2018.09.17. 14109388 홍진백

            메인 페이지 레이아웃 보강
            2018.11.01  14109362 이창재
        -->
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <% if(nickname == null) { %>
        <li><a class="waves-effect" href="/users/signup"><i class="material-icons">library_add</i>회원가입</a></li>
        <li><a class="waves-effect" href="/users/login"><i class="material-icons">vpn_key</i>로그인</a></li>
        <% } %>
        <% if(nickname != null) { %>
        <li><a class="waves-effect" href="/users/logout"><i class="material-icons">exit_to_app</i>로그아웃</a></li>
        <li class="divider"></li>
        <li><a class="waves-effect" href="/users/usersetting"><i class="material-icons">settings</i>내 계정</a></li>
        <% } %>  
    </ul>
    <!--   NAVIGATION BAR     -->
    <nav class="dk">
        <div class="container nav-wrapper dk">
            <a href="/" class="brand-logo">
                <%=(typeof title != "undefined" ? title : "평행일기")%></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">메인</a></li>
                <% if(is_coupled == 1) { %>
                <li><a href="/main">일기쓰기</a></li>
                <% } %>
                <li><a class="dropdown-trigger" href="javascript:void(0);" data-target="dropdown1">
                    <% if(nickname == null) { %>
                        Guest
                    <% } else { %>
                        <%=nickname%>
                    <% } %>
                    <i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav mm4" id="mobile-demo">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="../images/userback.png">
                </div>
                <a href="#user"><i class="medium material-icons"></i></a>
                <a href="#name"><span class="white-text name">
                    <% if(nickname == null) { %>
                        Guest
                    <% } else { %>
                        <%=nickname%>
                    <% } %>
                </span></a>
                <a href="#email"><span class="white-text email">
                    <% if(e_mail == null) { %>
                    <% } else { %>
                        <%=e_mail%>
                    <% } %>
                </span></a>
            </div>
        </li>
        <li><a class="subheader">Parallel Diary</a></li>
        <li><a class="waves-effect" href="/"><i class="material-icons">home</i>홈</a></li>
        <% if(is_coupled == 1) { %>
        <li><a class="waves-effect" href="/main"><i class="material-icons">create</i>일기쓰기</a></li>
        <% } %>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">User</a></li>
        <% if(nickname == null) { %>
        <li><a class="waves-effect" href="/users/signup"><i class="material-icons">library_add</i>회원가입</a></li>
        <li><a class="waves-effect" href="/users/login"><i class="material-icons">vpn_key</i>로그인</a></li>
        <% } %>
        <% if(nickname != null) { %>
        <li><a class="waves-effect" href="/users/logout"><i class="material-icons">exit_to_app</i>로그아웃</a></li>
        <li><a class="waves-effect" href="/users/usersetting"><i class="material-icons">settings</i>내 계정</a></li>
        <% } %>
    </ul>
    <!--    CONTENT START    -->
    <div id="index_03" class="row h-100 jeju">
        <div class="row">
            <div class="col l6 offset-l3 m8 offset-m2 s12" style="margin-top:10vh;">
                <div class="card">
                    <form class="card-content" action="./pwreset_check" method="POST">
                        <input name="user_pid" value="<%=user_pid%>" style="display:none" />
                        <div id="dvJoin">
                            <h2 class="jeju center-align">비밀번호 재설정</h2>
                            <div class="row" style="padding:10px; margin: 10px auto;">
                                <p class="jeju center-align">가입 당시에 입력한 닉네임을 알려주세요.</p>
                                <div class="input-field col s12">
                                    <input name="nickname" type="text" class="validate" value="<%=nickname%>">
                                    <label for="e_mail">닉네임</label>
                                </div>
                                <p class="jeju center-align">가입 당시에 입력한 E-mail을 알려주세요.</p>
                                <div class="input-field col s12">
                                    <input name="e_mail" id="email" type="email" class="validate">
                                    <label for="e_mail">Email</label>
                                </div>
                                <p class="jeju center-align">새로 바꿀 비밀번호를 입력해 주세요.</p>
                                <div class="input-field col s6">
                                    <input id="new_password" name="new_password" type="password" class="validate">
                                    <label for="password">새 비밀번호</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="new_password_chk" type="password" class="validate">
                                    <label for="password">새 비밀번호 확인</label>
                                </div>
                            </div>
                            <div class="row" style="padding:10px; margin: 10px auto;">
                                <h5 class="jeju center-align">비밀번호 찾기용 Q&A</h5>
                                <!-- OP1 -->
                                <div class="input-field col s12">
                                    <span>당신이 가장 좋아하는 </span><input name="op1" type="text" class="validate" style="width:100px;">
                                    <span>은?</span>
                                    <!-- <label for="op1">비밀번호 찾기용 질문1(직접작성)</label> -->
                                </div>
                                <div class="input-field col s12">
                                    <input name="answer1" type="text" class="validate">
                                    <label for="answer1">비밀번호 찾기용 답변1</label>
                                </div>
                                <!-- OP1 -->
                                <div class="input-field col s12">
                                    <span>당신이 가장 싫어하는 </span><input name="op2" type="text" class="validate" style="width:100px;">
                                    <span>은?</span>
                                    <!-- <label for="op2">비밀번호 찾기용 질문2(직접작성)</label> -->
                                </div>
                                <div class="input-field col s12">
                                    <input name="answer2" type="text" class="validate">
                                    <label for="answer2">비밀번호 찾기용 답변2</label>
                                </div>
                                <!-- OP1 -->
                                <div class="input-field col s12">
                                    <span>당신이 가장 기억에 남는 </span><input name="op3" type="text" class="validate" style="width:100px;">
                                    <span>은?</span>
                                    <!-- <label for="op3">비밀번호 찾기용 질문3(직접작성)</label> -->
                                </div>
                                <div class="input-field col s12">
                                    <input name="answer3" type="text" class="validate">
                                    <label for="answer3">비밀번호 찾기용 답변3</label>
                                </div>
                                <button class="col s12 btn waves-effect waves-light" type="submit" name="action">확인
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('document').ready(function () {
            $('input:first').focus();
        });
    </script>
    <!--    CONTENT END    -->
    <!--    JS CODE FOR NAVBAR    -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $(".dropdown-trigger").dropdown({
                inDuration: 300,
                outDuration: 225,
                constrainWidth: false,
                hover: false,
                gutter: 0,
                coverTrigger: false,
                alignment: 'right'
            });
        });
    </script>
</body>
<footer id="footer" class="page-footer dk">
    <div class="footer-copyright dk">
        <div class="container">
        © 2018 Parallel Diary, All rights reserved. 
        <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
    </div>
</footer>
</html>